.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #0a82b9;
}

.toolbar-link{
    text-decoration: none;
    width: 115px;
    height: 25px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.toolbar-name{
    text-align: center;
    padding: 10px;
    color:black;
}

.img-container{
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left{
    position: absolute;
    bottom: 18px;
    left: 16px;
    width: auto;
}

.main-image{
    max-width: 100%;
    max-height: auto;
}

.page1-background{
    display: flex;
    flex-direction: row;
}

.page1-background-paragraphs{
    display: flex;
    flex-direction: column;
    margin-left: 358px;
    font-size: 20px;
    font-family: Helvetica;
}

.page1-education{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.page1-education-paragraphs{
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    font-size: 20px;
    font-family: Helvetica;
}

.page1-projects{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.page1-projects-content{
    display: flex;
    flex-direction: column;
    margin-left: 445px;
    font-size: 20px;
    font-family: Helvetica;
}

.styled-input{
    margin-bottom: 5px;
}

body{
    background: #977854;
}

form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.page3-links{
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.hobbies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    text-align: center;
}
